postgres/data/

hadoop/datanode/data/*
!hadoop/datanode/data/.gitkeep

hadoop/namenode/data/*
!hadoop/namenode/data/.gitkeep

downloads/*
!downloads/.gitkeep

.DS_Store

# Jupyter Notebook
.ipynb_checkpoints